* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Cutive", serif;
}

.banner {
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgb(0, 0, 0, 0.05), rgb(0, 0, 0, 0.05)),
		url(../picture/Dashboard_blue.png);
	background-size: cover;
	background-position: center;
}

.content {
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	color: #000;
}

.content h1 {
	color: black;
	font-size: 40px;
	margin-top: -250px;
	text-align: center;
}

.welcome {
	color: black;
	font-size: 20px;
	margin-left: 50px;
}

.data {
	background-color: rgba(0, 0, 0, 0.519);
	width: 900px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	color: #000;
	margin-left: 300px;
	display: inline-flex;
	flex-wrap: wrap; /* Create rows if needed */
	justify-content: space-between; /* Distribute sections with spacing */
	gap: 20px; /* Add a gap between the sections */
}

.data1,
.data2,
.data3,
.data4 {
	/* ... your existing styles ... */
	width: 50%; /* Adjust as needed */
	padding: 20px; /* Adjust as needed */
	text-align: center; /* Adjust as needed */
}

.data1 {
	background-color: blueviolet;
}
.data2 {
	background-color: aqua;
}
.data3 {
	background-color: chocolate;
}
.data4 {
	background-color: chartreuse;
}

.function-wrapper{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgb(0, 0, 0, 0.05), rgb(0, 0, 0, 0.05)),
		url(../picture/Dashboard_blue.png);
	background-size: cover;
	background-position: center;
	display: flex;
}

.image{
	background-color: aquamarine;
	width: 50%;
	height: 50%;
}

.container {
	width: 50%;
	height: 50%;
  	gap: 20px; /* Add equal spacing between boxes */
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 300px;
}

.OtherPages{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgb(0, 0, 0, 0.05), rgb(0, 0, 0, 0.05)),
		url(../picture/Dashboard_blue.png);
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 500px;
}

.EducationalRegulation, .DataPrivacyLaw{
	border: 2px;
	border-color: #000;
	padding: 10px;
	background-color: #fff;
	
	width: 20%;
	height: 450px;
	border-radius: 15px;
	box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.EducationalRegulation img, .DataPrivacyLaw img {
	width: 300px;
	height: 450px;
	object-fit: cover;
	border-radius: 15px;
}


/* .function{
	font-weight: 600;
	background-color: dodgerblue;
	height: 15%;
	width: 50%;

	display: flex;
	flex-direction: flex-end;
    padding: 10px;

	

}

.function-wrapper p{
	text-decoration: none;
	text-align: center;
	font-size: 20px;

	border:none;
	cursor: pointer;
	padding: 10px;
} */

.function{
	padding: 10px 30px;
	font-size: 20px;
	font-weight: bold;
	
	border-radius: 20px;
	background-color: #2584d7;
	border: none;
	cursor: pointer;

	width: 350px;	
}




.login {
	padding: 10px 30px;
	font-size: 20px;
	border-radius: 50px;
	transition: 0.3s ease;
	background-color: #c8633d;
	border: none;
}
