* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Cutive", serif;
}

.banner {
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgb(0, 0, 0, 0.05), rgb(0, 0, 0, 0.05)),
		url(../picture/Cuboid_background.jpg);
	background-size: cover;
	background-position: center;
}


.content {
    width: 100%;
    height: 100vh;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative; 
}

.content h1 {
    color: black;
    font-size: 40px;
    margin-bottom: 20px; /* Add this */
    text-align: center;
}



.boxWrapper {
	width: 520px;
	background: transparent;
	border: 2px solid rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(20px);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	color: #fff;
	border-radius: 10px;
	margin-top: 200px;
	padding: 20px 20px;
}

.boxWrapper h1 {
	font-size: 46px;
	text-align: center;
	color: #fff;
}

.boxWrapper .input-box {
	width: 100%;
	height: 60px;
	margin: 30px 10px;
}

.boxlvl1 {
    display: flex; /* Add this */
    justify-content: space-between; /* Add this */
}

.input-box {
    margin: 0 10px; /* Add this */
}

.input-box input {
	width: 100%;
	height: 100%;
	background-color: transparent;
	background: transparent;
	border: none;
	outline: none;
	border: 2px solid rgba(255, 255, 255, 0.2);
	border-radius: 40px;
	font-size: 14px;
	color: #fff;
	padding: 10px 20px;
}

.input-box select.input-field {
	width: 100%;
	height: 100%;
	background-color: transparent;
	background: transparent;
	border: none;
	outline: none;
	border: 2px solid rgba(255, 255, 255, 0.2);
	border-radius: 40px;
	font-size: 14px;
	color: #fff;
	padding: 10px 20px;
}

.input-box select.input-field option {
	color: #4a47a3; /* Change the color */
}

.input-box input::placeholder {
	color: #fff;
}

.boxWrapper .submit {
	width: 100%;
	height: 45px;
	background: #c8633d;
	border: none;
	outline: none;
	border-radius: 40px;
	box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	font-size: 22px;
	color: #fff;
	font-weight: 600;
}

.boxWrapper .submit:hover {
	background: #c8633d;
}

.infoWrapper{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgb(0, 0, 0, 0.05), rgb(0, 0, 0, 0.05)),
		url(../picture/Cuboid_background.jpg);
	background-size: cover;
	background-position: center;
	
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
	padding-left: 500px;
}

.studentInfo{
	width: 520px;
	background: transparent;
	border: 2px solid rgba(255, 255, 255, 0.453);
	backdrop-filter: blur(20px);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	color: #fff;
	border-radius: 10px;
	margin-top: 50px;
	padding: 20px 20px;
}

.studentInfo .info-box  {
    display: flex;
    align-items: center;
}

.studentInfo .info-box .label {
	width: 100px;    
	margin-right: 20px;
	font-family: Arial, sans-serif; 
    color: #ffffff; 
}

.studentInfo .info-box .value {
    width: 500px;
    height: 60px;
    margin: 20px 10px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
	color: #ffffff; 
    font-family: Arial, sans-serif; 
}
.info-button {
	margin-top: 20px;
    width: 200px;
    height: 45px;
    background: #c8633d;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0px 10px rgba(255, 255, 255, 0.1);
    cursor: pointer;
    font-size: 22px;
    color: #fff;
    font-weight: 600;
}

.button-wrapper {
	display: flex;
    justify-content: center;
}


.copyright {
	text-align: center;
	padding: 3px;
	color: #fff;
	font-size: 15px;
	background-color: #c8633d;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.welcome {
	color: black;
	font-size: 20px;
	margin-left: 50px;
	margin-bottom: 50px;
}
