* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Cutive", serif;
}

.navbar {
	width: 100%;
	margin: auto;
	padding: 35px 200px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: rgba(255, 255, 255, 0.3);
	position: fixed;
	z-index: 1000;
}

.logo {
	width: 350px;
	cursor: pointer;
}

.navbar ul li {
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	position: relative;
}

.navbar ul li a {
	text-decoration: none;
	color: #000;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
}

.navbar ul li::after {
	content: "";
	height: 3px;
	width: 0;
	background: #c8633d;
	position: absolute;
	left: 0;
	bottom: -10px;
	transition: 0.5s;
}

.navbar ul li:hover::after {
	width: 100%;
}

.sub-menu {
	display: none;
}

.navbar ul li:hover .sub-menu {
	display: block;
	position: absolute;
	background-color: #fff;
	margin-top: 10px;
	margin-left: -15px;
	transition: all ease 0.5s;
	border-radius: 10px;
}

.navbar ul li:hover .sub-menu ul li {
	width: 150px;
	padding: 10px;
	border-bottom: 1px solid #c8633d;
	background: transparent;
	border-radius: 0;
	text-align: left;
}

.navbar ul li:hover .sub-menu ul li a {
	font-weight: 500;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 18px;
}

.navbar ul li:hover .sub-menu ul li:hover::after {
	width: 0;
}

.navbar ul li:hover .sub-menu ul li:last-child {
	border-bottom: none;
}

.navbar ul li:hover .sub-menu ul li a:hover {
	color: #c8633d;
}
