* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Cutive", serif;
}

body {
	background-color: #31304d;
}

.learning-content {
	/* display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; */
	min-height: 100vh;
	height: max-content;
	margin-left: 300px;
	margin-right: 300px;
}

.lm-header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 50px;
	border-bottom: #ffffff10 2px solid;
}

.lm-header h1 {
	font-size: 60px;
	text-align: center;
	color: #c8633d;
	margin-top: 150px;
	font-weight: bold;
	margin-bottom: 20px;
}

.lm-header h2 {
	font-size: 20px;
	margin-bottom: 5px;
	color: #fff;
}

.lm-header h3 {
	font-size: 20px;
	margin-bottom: 60px;
	color: #fff;
}

.lm-desc {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 100px;
}

.lm-desc p {
	font-size: 25px;
	text-align: center;
	color: #fff;
	line-height: 35px;
	margin-bottom: 50px;
}

.video {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 200px;
}
