* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Cutive", serif;
}

.main-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 150px;
}

.main-wrapper h1 {
	font-family: "Lemon", serif;
	font-size: 50px;
	color: #c8633d;
}

.input-area {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 30px;
}

.input-area label {
	font-size: 20px;
	color: #161a30;
	font-weight: bold;
}

.input-area form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.input-area input {
	width: 300px;
	height: 40px;
	border-radius: 5px;
	border: 1px solid #c8633d;
	margin: 10px;
	padding: 10px;
	font-size: 17px;
}

#classCode {
	margin-bottom: 100px;
}

.content {
	border-top: 2px solid #c8633d;
}

.content .text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
	padding: 30px;
	border-radius: 20px;
	box-shadow: #31304d80 0px 2px 10px;
	background-color: #b0aedc10;
}

.content textarea {
	width: 700px;
	height: 200px;
	border-radius: 5px;
	border: 1px solid #c8633d;
	margin: 10px;
	padding: 10px;
	font-size: 17px;
}

.content textarea:focus {
	outline: none;
	border: 2px solid #c8633d;
}

.content .video {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
	padding: 30px;
	border-radius: 20px;
	box-shadow: #31304d80 0px 2px 10px;
	background-color: #b0aedc10;
}

.video input {
	width: 700px;
	height: 40px;
	border-radius: 5px;
	border: 1px solid #c8633d;
	margin: 10px;
	padding: 10px;
	font-size: 17px;
}

button {
	width: 100px;
	height: 40px;
	border-radius: 5px;
	border: 1px solid #c8633d;
	margin: 10px;
	padding: 10px;
	font-size: 17px;
	background-color: transparent;
	color: #c8633d;
}

.btn {
	margin: 50px 0 100px 0;
}

.btn button {
	width: 300px;
	height: 50px;
	border-radius: 15px;
	background-color: #c8633d;
	color: #fff;
	font-size: 20px;
	cursor: pointer;
	font-weight: bold;
	border: 2px solid #c8633d;
}

.btn button:hover {
	background-color: #fff;
	color: #c8633d;
}

.btn a {
	text-decoration: none;
	color: #c8633d;
}
