* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Cutive", serif;
}

.quizpage-wrapper {
	display: flex;
	flex-direction: column;
	background-color: #31304d;
	padding-bottom: 150px;
	min-height: 95.5vh;
}

.header {
	display: flex;
	flex-direction: row;
}

.header h1 {
	font-size: 50px;
	font-family: "Lemon", serif;
	color: #c8633d;
	margin: 160px 0 30px 320px;
}

.add-on-btn {
	margin: 170px 0 0 1100px;
}

.add-on-btn button {
	width: 200px;
	height: 55px;
	border-radius: 15px;
	color: #fff;
	font-size: 25px;
	cursor: pointer;
	font-weight: bold;
	border: 2px solid #c8633d;
	background-color: transparent;
}

.add-on-btn button:hover {
	background-color: #c8633d;
	color: #fff;
	transition: 0.2s;
}

.quizpage-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 70%;
	position: relative;
	top: 20px;
	left: 300px;
	right: 300px;
}

.quiz {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 300px;
	height: 400px;
	background-color: #161a30;
	border-radius: 15px;
	margin: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.quiz:hover {
	box-shadow: 0 0 20px #c8633d50;
	scale: 1.1;
	transition: 0.5s;
}

.quiz-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

.quiz-info h3 {
	font-size: 30px;
	color: #fff;
	width: 230px;
	display: flex;
	justify-content: center;
	text-align: center;
}

.view-button {
	background-color: transparent;
}

.view-button button {
	width: 200px;
	height: 45px;
	border-radius: 15px;
	color: #fff;
	font-size: 20px;
	cursor: pointer;
	font-weight: bold;
	border: 2px solid #c8633d;
	background-color: transparent;
	margin-bottom: 10px;
}

.view-button button:hover {
	background-color: #c8633d;
	color: #fff;
	transition: 0.2s;
}

.delete-button {
	background-color: transparent;
}

.delete-button button {
	width: 200px;
	height: 45px;
	border-radius: 15px;
	color: #fff;
	font-size: 20px;
	cursor: pointer;
	font-weight: bold;
	border: 2px solid #c8633d;
	background-color: transparent;
}

.delete-button button:hover {
	background-color: #c8633d;
	color: #fff;
	transition: 0.2s;
}
