* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Cutive", serif;
}

body {
	background-color: #31304d;
}

.wrapper {
	display: flex;
	flex-direction: column;
	background-color: #31304d;
	padding-bottom: 150px;
	min-height: 95.5vh;
}

.header {
	display: flex;
	flex-direction: row;
}

.header h1 {
	font-size: 50px;
	font-family: "Lemon", serif;
	color: #c8633d;
	margin: 160px 0 30px 320px;
}

.filter-section {
	display: flex;
	flex-direction: column;
	justify-content: start;
	width: 70%;
	position: relative;
	top: 20px;
	left: 300px;
	right: 300px;
}

.filter-section h2 {
	font-size: 30px;
	color: #fff;
	margin: 20px;
}

.filter-section select {
	width: 200px;
	height: 40px;
	border-radius: 5px;
	border: none;
	outline: none;
	margin: 20px;
	padding-left: 10px;
	font-size: 15px;
}

.filter-section input[type="text"] {
	width: 600px;
	height: 40px;
	border-radius: 5px;
	border: none;
	outline: none;
	margin: 20px;
	padding-left: 10px;
	font-size: 15px;
}

.filter {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	color: #c8633d;
	margin-left: 20px;
}

.filter form {
	display: flex;
	flex-direction: row;
	align-items: baseline;
}

.button-container {
	display: flex;
	justify-content: center;
}

.button-container button {
	width: 200px;
	height: 45px;
	border-radius: 15px;
	background-color: #fff;
	color: #c8633d;
	font-size: 20px;
	font-weight: bold;
	margin-top: 50px;
	margin-bottom: 50px;
}

.button-container button:hover {
	background-color: #c8633d;
	color: #fff;
}

.tablelist {
	display: flex;
	justify-content: center;
	width: 70%;
	position: relative;
	top: 20px;
	left: 300px;
	right: 300px;
}

.tablelist table {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-top: 50px;
	border-collapse: collapse;
}

.tablelist table th {
	font-size: 20px;
	color: #fff;
	padding: 20px;
	width: 400px;
	border-bottom: 2px solid #c8633d;
}

.tablelist table td {
	text-align: center;
	font-size: 20px;
	color: #fff;
	padding: 10px;
	width: 400px;
}

.details {
	background-color: #31304d;
	padding-top: 50px;
	color: #fff;
	margin-left: 320px;
}

.details h2 {
	font-size: 30px;
	margin-bottom: 20px;
}

.details-container {
	background-color: #31304d;
	display: flex;
	flex-direction: row;
}

.details-left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #31304d;
	padding-top: 20px;
	text-align: left;
	color: #c8633d;
}

.details-right {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #31304d;
	padding-top: 20px;
	padding-left: 50px;
	text-align: left;
}

.details-right h3,
.details-left h3 {
	padding-bottom: 5px;
}

.tablelist .student-id {
	width: 10%;
}

.tablelist .student-name {
	width: 25%;
}

.tablelist .email {
	width: 30%;
}

.tablelist .dob {
	width: 20%;
}

.tablelist .country {
	width: 15%;
}

.tablelist .genedr {
	width: 20%;
}
