* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Cutive", serif;
}

.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #31304d;
	height: 95.5vh;
}

.main h1 {
	font-size: 50px;
	font-family: "Lemon", serif;
	color: #c8633d;
	font-size: 60px;
	text-align: center;
}

.quiz-info {
	margin: 50px 0;
}

.quiz-info table {
	justify-content: center;
	border-collapse: collapse;
	width: 60%;
	margin: 40px auto;
}

.quiz-info tr {
	color: #fff;
	padding-bottom: 5px;
}

.quiz-info th {
	padding: 10px 50px;
	font-size: 20px;
	width: 50%;
	text-align: right;
}

.quiz-info td {
	padding: 10px 50px;
	font-size: 20px;
	width: 50%;
}

.quiz-button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.quiz-button button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
	height: 50px;
	border-radius: 10px;
	color: #c8633d;
	font-size: 20px;
	font-weight: bold;
	margin: 20px;
	cursor: pointer;
	text-decoration: none;
	background-color: #eeeeee;
}

.quiz-button a {
	text-decoration: none;
	color: #c8633d;
}

.quiz-button button:hover {
	background-color: #c8633d;
	color: #fff;
}

.quiz-button input {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
	height: 50px;
	border-radius: 10px;
	color: #c8633d;
	font-size: 20px;
	font-weight: bold;
	margin: 20px;
	cursor: pointer;
	text-decoration: none;
	background-color: #eeeeee;
}

.quiz-button input {
	text-decoration: none;
	color: #c8633d;
}

.quiz-button input:hover {
	background-color: #c8633d;
	color: #fff;
}
