* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Cutive", serif;
}

.header {
	display: block;
	justify-content: center;
	align-items: center;
	background-color: #fff;
}

.img-container {
	max-width: 100%;
}

.img-container img {
	width: 100%;
	height: 300px;
	object-fit: cover;
	filter: brightness(90%);
}

.search {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 100px;
	background-image: url(../picture/search.png);
	background-size: cover;
	background-position: center;
}

.search h1 {
	font-size: 50px;
	font-family: "Lemon", serif;
	padding-top: 50px;
	padding-bottom: 50px;
}

.search-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

.search-container i {
	position: absolute;
	margin-left: -520px;
	margin-top: 3px;
	font-size: 25px;
	color: #000;
}

.search-container input {
	width: 600px;
	height: 50px;
	border-radius: 5px;
	padding: 5px 70px;
	font-size: 20px;
}

.button-container {
	margin-top: 60px;
	margin-bottom: 100px;
	display: flex;
	justify-content: center;
}

.button-container button {
	width: 200px;
	height: 50px;
	border-radius: 15px;
	background-color: #fff;
	color: #c8633d;
	font-size: 20px;
	cursor: pointer;
	font-weight: bold;
	border: 2px solid #c8633d;
}

.button-container button:hover {
	background-color: #c8633d;
	color: #fff;
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 50px 200px -150px 200px;
	background-image: url(../picture/teacher_function.png);
	background-size: cover;
	background-position: center;
}

.wrapper h2 {
	font-size: 50px;
	color: #161a30;
	padding: 20px;
	font-family: "Lemon", serif;
}

.function {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 45%;
	padding-top: 50px;
	margin-bottom: 50px;
}

.function-additional {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 45%;
	margin-bottom: 150px;
}

.function button,
.function-additional button {
	width: 350px;
	height: 60px;
	border-radius: 15px;
	background-color: #fff;
	color: #c8633d;
	font-size: 25px;
	cursor: pointer;
	font-weight: bold;
	border: 2px solid #c8633d;
}

.function button:hover,
.function-additional button:hover {
	background-color: #c8633d;
	color: #fff;
}

.tracker-wrapper {
	margin-top: 200px;
	padding-top: 50px;
	display: flex;
	flex-direction: column;
	background-color: #31304d;
}

.tracker-wrapper h2 {
	font-size: 50px;
	color: #c8633d;
	padding: 20px;
	font-family: "Lemon", serif;
	text-align: center;
}

.progress {
	display: flex;
	justify-content: center;
	background-color: #31304d;
	padding-top: 50px;
}

.progress table {
	background-color: transparent;
	width: 70%;
	border-collapse: collapse;
	margin-bottom: 25px;
}

.progress table tr th {
	font-size: 20px;
	color: #000;
	border: 2px solid #80808050;
	border-collapse: collapse;
	height: 110px;
	border-top: none;
	border-left: none;
	border-right: none;
	color: #fff;
}

.progress table tr td {
	font-size: 20px;
	color: #000;
	border: 1px solid #80808050;
	border-collapse: collapse;
	text-align: center;
	height: 50px;
	border: none;
	color: #fff;
}

.student-id {
	width: 7%;
}

.student-name {
	width: 20%;
}

.class-code {
	width: 10%;
}

.quiz-name {
	width: 30%;
}

.status {
	width: 10%;
}

.marks {
	width: 8%;
}

.date {
	width: 15%;
}

.view-more {
	display: flex;
	justify-content: center;
	padding-top: 50px;
	padding-bottom: 150px;
	background-color: #31304d;
}

.view-more button {
	width: 200px;
	height: 50px;
	border-radius: 15px;
	background-color: transparent;
	color: #fff;
	font-size: 20px;
	cursor: pointer;
	font-weight: bold;
	border: 2px solid #fff;
}

.view-more button:hover {
	background-color: #c8633d;
	color: #fff;
	border: 2px solid #c8633d;
}

.view-more button a {
	text-decoration: none;
	color: #fff;
}

.view-more button i {
	margin-top: 5px;
	padding-left: 5px;
	align-items: last baseline;
}
