* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Cutive", serif;
}

.banner {
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgb(0, 0, 0, 0.05), rgb(0, 0, 0, 0.05)),
		url(picture/pen.png);
	background-size: cover;
	background-position: center;
}

.content {
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	color: #000;
}

.content h1 {
	color: #c8633d;
	font-size: 120px;
	margin-top: -50px;
}
.content p {
	font-size: 25px;
	margin: 20px auto;
	font-weight: 100;
	line-height: 25px;
	font-weight: bold;
}

.login {
	padding: 10px 30px;
	font-size: 20px;
	border-radius: 50px;
	transition: 0.3s ease;
	background-color: #c8633d;
	border: none;
}

.login a {
	text-decoration: none;
	color: #fff;
	font-weight: bold;
}

.login:hover {
	background-color: #fff;
}

.login:hover a {
	color: #c8633d;
}

.intro {
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgb(0, 0, 0, 0.05), rgb(0, 0, 0, 0.05)),
		url(picture/content.png);
	background-size: cover;
	background-position: center;
}

.intro h1 {
	font-size: 40px;
	padding-top: 290px;
	padding-left: 250px;
	line-height: 50px;
}

.button-wrap {
	padding-left: 250px;
	padding-top: 150px;
}

.intro-btn {
	padding: 15px 40px;
	font-size: 25px;
	border-radius: 30px;
	cursor: pointer;
	background-color: #c8633d;
	color: #fff;
	font-weight: bold;
	border: 2px solid #c8633d;
	border-style: hidden;
}

.button-wrap2 {
	margin-left: 15px;
}

.intro-btn:hover {
	background-color: #fff;
	color: #c8633d;
	font-weight: bold;
	border: 2px solid #c8633d;
}

.img2 {
	display: flex;
	justify-content: right;
}

.feature {
	width: 100%;
	height: 100vh;
	background-color: #31304d;
	background-image: linear-gradient(rgb(0, 0, 0, 0.3), rgb(0, 0, 0, 0.15)),
		url(picture/feature.png);
	background-size: cover;
	background-position: center;
}

.feature-title {
	font-size: 80px;
	line-height: 40px;
	color: #fff;
	display: flex;
	justify-content: center;
	padding-top: 180px;
	padding-bottom: 150px;
}

.feature-container {
	width: 85%;
	margin: auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.feature-box {
	width: 20%;
	height: 450px;
	background-color: #fff;
	border-radius: 15px;
	padding: 50px;
	box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.feature-box h3 {
	text-align: center;
	font-size: 30px;
	color: #000;
	margin-bottom: 50px;
	padding-top: 15px;
}

.feature-box p {
	text-align: center;
	font-size: 20px;
	color: #000;
	margin-bottom: 50px;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.feature-box img {
	margin-left: 55px;
	width: 150px;
	height: 150px;
}

.role {
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgb(0, 0, 0, 0.05), rgb(0, 0, 0, 0.05)),
		url(picture/role.png);
	background-size: cover;
	background-position: center;
}

.student {
	width: 100%;
	height: 50vh;
}

.teacher {
	width: 100%;
	height: 50vh;
}

.student-text {
	margin-left: 1150px;
	padding-top: 150px;
}

.teacher-text {
	padding-top: 80px;
	padding-left: 300px;
}

.student-text h2,
.teacher-text h2 {
	font-size: 50px;
	color: #c8633d;
	padding-bottom: 20px;
	font-weight: bold;
}

.student-text p,
.teacher-text p {
	font-size: 20px;
	color: #000;
	padding-bottom: 20px;
	font-weight: bold;
}

.student-text ul,
.teacher-text ul {
	margin-right: 70px;
	padding: 50px;
}

.student-text ul li,
.teacher-text ul li {
	list-style: square;
	font-size: 20px;
	padding: 5px;
}
